.wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
  padding-top: 200px;
  padding-bottom: 150px;
  max-width: 70%;

  a {
    text-decoration: underline;
  }

  .messages {
    display: flex;
    flex-direction: column;
    gap: 50px;
    height: 600px;
    overflow: scroll;

    .message1 {
      display: flex;
      gap: 10px;
      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }

      .box {
        max-width: 70%;
        background-color: aliceblue;
        padding: 20px;
        border-radius: 50px;
        border-top-left-radius: 0px;
      }
    }
    .message2 {
      display: flex;
      gap: 10px;
      direction: rtl;
      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }

      .box {
        max-width: 70%;
        background-color: rgb(77, 153, 220);
        padding: 20px;
        border-radius: 50px;
        border-top-right-radius: 0px;
        color: white;
      }
    }
  }

  .action {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    textarea {
      width: 80%;
      padding: 20px;
    }
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    button {
      width: 200px;
    }
  }
}

@media screen and (max-width: 600px) {
  .wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    padding-top: 150px;
    padding-bottom: 150px;
    max-width: 70%;

    .action {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 20px;
      textarea {
        width: 100%;
        padding: 20px;
      }
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      button {
        width: 100%;
      }
    }
  }
}
