.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 50px;

  .socials {
    display: flex;
    align-items: center;
    gap: 20px;

    img {
      width: 20px;
      height: 20px;
      cursor: pointer;

      &:hover {
        filter: brightness(10%);
      }
    }

    .coin {
      display: flex;
      align-items: center;
      gap: 5px;
      cursor: pointer;
      span {
        opacity: 0.6;
        font-size: 0.8rem;
        &:hover {
          opacity: 1;
        }
      }
      &:hover {
        filter: brightness(10%);
      }
    }

    .language {
      display: flex;
      align-items: center;
      gap: 5px;
      cursor: pointer;
      span {
        opacity: 0.6;
        font-size: 0.8rem;
        &:hover {
          opacity: 1;
        }
      }
      &:hover {
        filter: brightness(10%);
      }
    }
  }
}

@media screen and (max-width: 350px) {
  .wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
    padding-top: 20px;
    padding-bottom: 40px;

    .socials {
      display: flex;
      align-items: center;
      gap: 10px;

      img {
        width: 20px;
        height: 20px;
        cursor: pointer;

        &:hover {
          filter: brightness(10%);
        }
      }

      .coin {
        display: flex;
        align-items: center;
        gap: 5px;
        cursor: pointer;
        span {
          opacity: 0.6;
          font-size: 0.8rem;
          &:hover {
            opacity: 1;
          }
        }
        &:hover {
          filter: brightness(10%);
        }
      }

      .language {
        display: flex;
        align-items: center;
        gap: 5px;
        cursor: pointer;
        span {
          opacity: 0.6;
          font-size: 0.8rem;
          &:hover {
            opacity: 1;
          }
        }
        &:hover {
          filter: brightness(10%);
        }
      }
    }
  }
}

@media screen and (min-width: 351px) and (max-width: 600px) {
  .wrapper {
    display: flex;
    align-items: flex-center;
    justify-content: space-between;
    flex-direction: row;
    gap: 10px;
    padding-top: 20px;
    padding-bottom: 20px;

    .socials {
      display: flex;
      align-items: center;
      gap: 10px;

      img {
        width: 20px;
        height: 20px;
        cursor: pointer;

        &:hover {
          filter: brightness(10%);
        }
      }

      .coin {
        display: flex;
        align-items: center;
        gap: 5px;
        cursor: pointer;
        span {
          opacity: 0.6;
          font-size: 0.8rem;
          &:hover {
            opacity: 1;
          }
        }
        &:hover {
          filter: brightness(10%);
        }
      }

      .language {
        display: flex;
        align-items: center;
        gap: 5px;
        cursor: pointer;
        span {
          opacity: 0.6;
          font-size: 0.8rem;
          &:hover {
            opacity: 1;
          }
        }
        &:hover {
          filter: brightness(10%);
        }
      }
    }
  }
}
