.wrapper {
  .all_links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    padding-bottom: 50px;

    .links {
      display: flex;
      flex-direction: column;
      gap: 10px;

      li {
        color: var(--black-fifty-opacity);
        cursor: pointer;

        &:first-child {
          font-weight: 700;
          color: black;
        }

        &:hover {
          color: black;
        }
      }
    }
  }
}
@media screen and (max-width: 350px) {
  .wrapper {
    .all_links {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      justify-content: space-between;
      border-bottom: 1px solid gray;
      padding-bottom: 50px;
      grid-gap: 20px;

      .links {
        display: flex;
        flex-direction: column;
        gap: 10px;
        grid-column: span 12;

        li {
          color: var(--black-fifty-opacity);
          cursor: pointer;

          &:first-child {
            font-weight: 700;
            color: black;
          }

          &:hover {
            color: black;
          }
        }
      }
    }
  }
}
@media screen and (min-width: 351px) and (max-width: 600px) {
  .wrapper {
    .all_links {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      justify-content: space-between;
      border-bottom: 1px solid gray;
      padding-bottom: 50px;
      grid-gap: 20px;

      .links {
        display: flex;
        flex-direction: column;
        gap: 10px;
        grid-column: span 6;

        li {
          color: var(--black-fifty-opacity);
          cursor: pointer;

          &:first-child {
            font-weight: 700;
            color: black;
          }

          &:hover {
            color: black;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 601px) and (max-width: 900px) {
  .wrapper {
    .all_links {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      justify-content: space-between;
      border-bottom: 1px solid gray;
      padding-bottom: 50px;
      grid-gap: 20px;

      .links {
        display: flex;
        flex-direction: column;
        gap: 10px;
        grid-column: span 4;

        li {
          color: var(--black-fifty-opacity);
          cursor: pointer;

          &:first-child {
            font-weight: 700;
            color: black;
          }

          &:hover {
            color: black;
          }
        }
      }
    }
  }
}
